extends layouts/layouts.pug

block content
  h1 
    span.spyling  Todo
    |  List
  .input_div
    form(action="create",method="POST")
      input.input( name="name",type='text', placeholder='Việc cần làm trong ngày? ')
      button.addButton
        i.fas.fa-plus
        | +
  .container
    each val in todos
      .item
        textarea.item_input(cols='30', rows='2', name="todo",disabled="true") #{val.name} 
        .buttonGroup
          form.formEdit(action="edit/"+val.id, method="GET")  
            button.editButton Sửa
          form.formDel(action="delete/"+val.id, method="POST")
            button.removeButton Xóa
          form.formDone(action="delete/"+val.id, method="POST")
            button.doneButton Hoàn Thành