* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  background-color: #111;
}

h1 {
  font-size: 5rem;
  font-family: 'Sedgwick Ave', cursive;
  font-weight: 400;
  margin: 1rem 0 3rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 2rem;
}

.spyling {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 5rem;
  color: lime;
}

.input_div {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.input_div .input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  height: 5rem;
  outline: none;
  background-color: #fff;
  width: 40rem;
  border-radius: 2.5rem;
  margin: 0.25rem;
  border: none;
}

.addButton {
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  border: none;
  color: #fff;
  background-color: lime;
  cursor: pointer;
  margin: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

.addButton:hover {
  opacity: 0.7;
}

.container {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.item {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #fff;
}

.item_input {
  background: none;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  width: 35rem;
  margin-top: 1rem;
}

.editButton {
  font-size: 1.6rem;
  border: none;
  color: rgb(255, 115, 0);
  background: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem 0 1rem;
  transition: all 0.3s;
}

.removeButton {
  font-size: 1.6rem;
  border: none;
  color: red;
  background: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem 0 0;
  transition: all 0.3s;
}

.doneButton {
  font-size: 1.6rem;
  border: none;
  color: lime;
  background: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s;
}

.doneButton:hover {
  transform: scale(1.1);
}

.editButton:hover {
  transform: scale(1.1);
}

.removeButton:hover {
  transform: scale(1.1);
}

.doneJob {
  border-bottom: 4px solid #138e1d !important;
}

.buttonGroup {
  display: inline-block;
}

.formEdit {
  display: inline-block;
}

.formDel {
  display: inline-block;
}

.formDone {
  display: inline-block;
}

.editLabel {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
  .input_div .input {
    width: 27rem;
    margin: 0 0.5rem 0 -0.5rem;
  }
  textarea {
    height: 5.5rem;
  }
}

/* responsive input 
height: 5rem;
outline: none;
background-color: #fff;
width: 26rem;
border-radius: 2.5rem;
margin: 0 .5rem 0 -2.5rem;
border: none; */